
.otp{
    margin-top:40px;
    display: flex;
    justify-content: space-evenly;
}
.input{
    height:40px;
    width:40px;
    background-color: #454545;
    border:none;
    outline:none;
    border-radius: 10px;
    
}
.para{
    color:#C4C5C5;
    text-align: center;
    margin-top:25px;
}