.imgWrapper{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.text{
    color:#C4C5C5;
    margin-top:15px;
}
.img{
    margin:25px 0;
    height:110px;
    width:110px;
    border-radius:50%;
    border:4px solid #0077FF;
 
}

.btn{
    background: none;
    color:#0077FF;
    border:none;
    outline: none;
    cursor:pointer;
    font-size: 1.1rem;

}